@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");
@layer base {
  html {
    font-family: "Source Sans 3", sans-serif;
  }
}
